<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen.projection"/>
    <title>Página de prueba</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s12 ">
                <div class="section">
                    <h5 class="col s4 offset-s4 title">Titulo</h5> 
                </div>
                <div class="divider"></div>
                <div class="section col s12">
                    <input id="txt1" class="col s4 teal-text" type="text" placeholder="datos" />
                    <button id="btn1" class="col s4 offset-s3 button-collapse">aceptar</button>
                </div>
                
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../JS/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../JS/materialize.js"></script>
    <script type="text/javascript" src="../JS/Scripts/JavaScript1.js"></script>
 </body>
</html>
